<section>
      <div class="row">

        <% @bids.each do |bidd| %>
              <p>event: <%= bidd.event_id %></p>
              <p>Price: <%= bidd.bid %></p>
            
        <% end %>
      </div>
    </section>

