




  

  
  <!-- End Preload -->

  <!-- Header================================================== -->
  
  <!-- SubHeader =============================================== -->
  <section class="parallax_window_in" data-parallax="scroll" data-image-src="<%=@image%>" data-natural-width="1400" data-natural-height="470">
    <div id="sub_content_in">
      <div id="animate_intro">
        <h1>Blog and news</h1>
        <p>"Usu habeo equidem sanctus no ex melius"</p>
      </div>
    </div>
  </section>
  <!-- End section -->
  <!-- End SubHeader ============================================ -->

  <section class="wrapper">
    <div class="divider_border"></div>

    <div class="container">

      <div class="row">
        <div class="col-md-9 add_bottom_15">
          <div class="bloglist singlepost">
            <div class="wow fadeIn">
              <img alt="" class="img-responsive img-thumbnail" src="/img/blog/single.jpg">

              <div class="singlepost_title">
                <h4>Eam sapientem assentior honestatis et ad mel veri soleat .</h4>
              </div>

              <div class="postmeta">

                <ul class="list-inline">
                  <li><a href="#"><i class="icon_folder-alt"></i> Collections</a>
                  </li>
                  <li><a href="#"><i class="icon_clock_alt"></i> 23/12/2015</a>
                  </li>
                  <li><a href="#"><i class="icon_pencil-edit"></i> Admin</a>
                  </li>
                  <li><a href="#"><i class="icon_comment_alt"></i> (14) Comments</a>
                  </li>
                </ul>
              </div>

              <div class="post-content">
                <div class="dropcaps">
                  <p>Aorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>

                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
              </div>
              <!-- end post -->

            </div>
          </div>
          <!-- end single-post -->

     
          <!-- end blog-list -->
        </div>


        <aside id="sidebar" class="col-md-3">
          <div class="widget">
            <form>
              <div class="form-group">
                <input type="text" name="search" id="search" class="form-control" placeholder="Search...">
              </div>
              <button type="submit" id="submit" class="btn_1"> Search</button>
            </form>
          </div>
          <!-- end widget -->


              </li>
            </ul>
            <!-- end blog list -->
          </div>
          <!-- end widget -->

          
          <!-- end widget -->
        </aside>
        <!-- end sidebar -->
      </div>
      <!-- end row -->
    </div>
    <!-- End container -->
  </section>
  <!-- End section -->

  
    <!-- end banner -->
  </div>
  <!-- end container -->

  
        
        
    
  <!-- End Search Menu -->

  <!-- COMMON SCRIPTS -->
  


