



<body>

  <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->

  <div id="preloader">
    <div data-loader="circle-side"></div>
  </div>
  <!-- End Preload -->

    <!-- Header================================================== -->
    <div id="header_1">
        <header>
            <div id="top_line">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="tel://004542344599" id="phone_top">0045 043204434</a><span id="opening">Mon - Sat 8.00/18.00</span>
                        </div>
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <ul id="top_links">
                                <li><a href="wishlist.html" id="wishlist_link">Wishlist</a>
                                </li>
                                <li><a href="#0">PURCHASE THIS TEMPLATE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End row -->
                </div>
                <!-- End container-->
            </div>
            <!-- End top line-->

            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                       <a href="index.html" ><img src="img/logo.png" width="145" height="34" alt="Bestours" data-retina="true" id="logo"></a>
                    </div>
                    <nav class="col-md-9 col-sm-9 col-xs-9">
                        <ul id="tools_top">
                            <li><a href="#" class="search-overlay-menu-btn"><i class="icon-search-6"></i></a>
                            </li>
                        </ul>
                        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                        <div class="main-menu">
                            <div id="header_menu">
                                <img src="img/logo_menu.png" width="145" height="34" alt="Bestours" data-retina="true">
                            </div>
                            <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                            <ul>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="show-submenu">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home Video background</a>
                                        </li>
                                        <li><a href="index_2.html">Home Layer Slider</a>
                                        </li>
                                        <li><a href="index_3.html">Home Full Header</a>
                                        </li>
                                        <li><a href="index_4.html">Home Popup</a>
                                        </li>
                                        <li><a href="index_5.html">Home Cookie bar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="show-submenu">Tours</a>
                                    <ul>
                                        <li><a href="grid.html">Grid view</a>
                                        </li>
                                        <li><a href="list.html">List view</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="about.html">About us</a>
                                </li>
                                <li><a href="faq.html">Faq</a>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="show-submenu">Other pages</a>
                                    <ul>
                                        <li><a href="index_3.html">Header Version 2</a>
                                        </li>
                                        <li><a href="blog.html">Blog</a>
                                        </li>
                                        <li><a href="blog_post.html">Blog post</a>
                                        </li>
                                        <li><a href="gallery.html">Gallery</a>
                                        </li>
                                        <li><a href="maintenance.html">Mantainance</a>
                                        </li>
                                        <li><a href="profile.html">Team Profile</a>
                                        </li>
                                        <li><a href="contacts_2.html">Contact 2</a>
                                        </li>
                                        <li><a href="coming_soon/index.html">Coming soon</a>
                                        </li>
                                        <li><a href="shortcodes.html">Shortcodes</a>
                                        </li>
                                        <li><a href="icon_pack_1.html">Icon pack 1</a>
                                        </li>
                                        <li><a href="icon_pack_2.html">Icon pack 2</a>
                                        </li>
                                        <li><a href="icon_pack_3.html">Icon pack 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contacts.html">Contact us</a>
                                </li>
                                <li class="megamenu submenu">
                                    <a href="javascript:void(0);" class="show-submenu-mega">More demos</a>
                                    <div class="menu-wrapper">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h3>Museum Tours</h3>
                                                <div class="menu-item">
                                                    <a href="#"><img src="img/menu-demo-1.jpg" width="400" height="226" alt="" class="img-responsive"></a>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, et cum civibus referrentur, at propriae forensibus qui. Duo aliquip necessitatibus ne.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <h3>Adventure Tours</h3>
                                                <div class="menu-item">
                                                    <a href="#"><img src="img/menu-demo-2.jpg" width="400" height="226" alt="" class="img-responsive"></a>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, et cum civibus referrentur, at propriae forensibus qui. Duo aliquip necessitatibus ne.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <h3>Travel Tours</h3>
                                                <div class="menu-item">
                                                    <a href="#"><img src="img/menu-demo-3.jpg" width="400" height="226" alt="" class="img-responsive"></a>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, et cum civibus referrentur, at propriae forensibus qui. Duo aliquip necessitatibus ne.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="hidden-xs">
                                        <p class="text-center hidden-xs">
                                            <a href="#" class="btn_outline">MORE DEMOS SOON</a>
                                    </div>
                                    <!-- End menu-wrapper -->
                                </li>
                            </ul>
                        </div>
                        <!-- End main-menu -->
                    </nav>
                </div>
            </div>
            <!-- container -->
        </header>
        <!-- End Header -->
    </div>
    <!-- End Header 1-->

  <!-- SubHeader =============================================== -->
  <section class="parallax_window_in" data-parallax="scroll" data-image-src="img/sub_header_list_museum.jpg" data-natural-width="1400" data-natural-height="470">
    <div id="sub_content_in">
          <div id="animate_intro">
      <h1>Adventure Tours</h1>
      <p>"Usu habeo equidem sanctus no ex melius labitur conceptam eos"</p>
            </div>
    </div>
  </section>
  <!-- End section -->
  <!-- End SubHeader ============================================ -->

  <section class="wrapper">
    <div class="divider_border_gray"></div>
    <div id="filters" class="clearfix">
      <div id="sort_filters">
        <select name="orderby" class="selectbox">
          <option value="popularity">Sort by Popularity</option>
          <option value="rating">Sort by Average Rating</option>
          <option value="date" selected='selected'>Sort by Newness</option>
          <option value="price">Sort by Price: Low to High</option>
          <option value="price-desc">Sort by Price: High to Low</option>
        </select>
      </div>
      <div id="view_change">
        <a href="grid.html" class="grid_bt"></a>
        <a href="list.html" class="list_bt"></a>
      </div>
    </div>
    <!-- End filters -->

    <div class="container">

      <div class="row strip_list wow fadeIn animated" data-wow-delay="0.2s">
        <div class="col-md-5">
          <div class="img_wrapper">
            <div class="ribbon">
              <span>Popular</span>
            </div>
            <div class="price_grid">
              <sup>$</sup>23
            </div>
            <div class="img_container">
              <a href="detail-page.html">
                <img src="img/tour_list_1.jpg" width="800" height="533" class="img-responsive" alt="">
                <div class="short_info">
                  <em>Duration 45 mins</em>
                  <div class="score_wp">Superb
                    <div class="score">7.5</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- End img_wrapper -->
        </div>
        <div class="col-md-7">
          <h3>Colorado River<span>Quo scaevola referrentur civibus</span></h3>
          <p>Lorem ipsum dolor sit amet, et cum civibus referrentur, at propriae <strong>forensibus qui</strong>. Duo aliquip necessitatibus ne. Eam sapientem assentior honestatis et. Ad mel veri soleat intellegat. Quo <strong>scaevola referrentur</strong> et, ei dicunt audire deserunt has. Soluta sanctus constituto has ad.</p>
          <p>Per cu esse assentior delicatissimi, qui adipiscing dissentiunt mediocritatem in, dicat voluptaria no eam propriae forensibus qui. </p>
          <p><a href="detail-page.html" class="btn_1">Read more</a>
          </p>
        </div>
      </div>
      <!-- End strip list -->

      <div class="row strip_list wow fadeIn animated" data-wow-delay="0.2s">
        <div class="col-md-5">
          <div class="img_wrapper">
            <div class="ribbon">
              <span>Popular</span>
            </div>
            <div class="price_grid">
              <sup>$</sup>23
            </div>
            <div class="img_container">
              <a href="detail-page.html">
                <img src="img/tour_list_2.jpg" width="800" height="533" class="img-responsive" alt="">
                <div class="short_info">
                  <em>Duration 45 mins</em>
                  <div class="score_wp">Superb
                    <div class="score">7.5</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- End img_wrapper -->
        </div>
        <div class="col-md-7">
          <h3>Rafting &amp; Boating<span>Quo scaevola referrentur civibus</span></h3>
          <p>Lorem ipsum dolor sit amet, et cum civibus referrentur, at propriae <strong>forensibus qui</strong>. Duo aliquip necessitatibus ne. Eam sapientem assentior honestatis et. Ad mel veri soleat intellegat. Quo <strong>scaevola referrentur</strong> et, ei dicunt audire deserunt has. Soluta sanctus constituto has ad.</p>
          <p>Per cu esse assentior delicatissimi, qui adipiscing dissentiunt mediocritatem in, dicat voluptaria no eam propriae forensibus qui. </p>
          <p><a href="detail-page.html" class="btn_1">Read more</a>
          </p>
        </div>
      </div>
      <!-- End strip list -->

      <div class="row strip_list wow fadeIn animated" data-wow-delay="0.2s">
        <div class="col-md-5">
          <div class="img_wrapper">
            <div class="ribbon">
              <span>Popular</span>
            </div>
            <div class="price_grid">
              <sup>$</sup>23
            </div>
            <div class="img_container">
              <a href="detail-page.html">
                <img src="img/tour_list_3.jpg" width="800" height="533" class="img-responsive" alt="">
                <div class="short_info">
                  <em>Duration 45 mins</em>
                  <div class="score_wp">Superb
                    <div class="score">7.5</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- End img_wrapper -->
        </div>
        <div class="col-md-7">
          <h3>Advantage Canyon<span>Quo scaevola referrentur civibus</span></h3>
          <p>Lorem ipsum dolor sit amet, et cum civibus referrentur, at propriae <strong>forensibus qui</strong>. Duo aliquip necessitatibus ne. Eam sapientem assentior honestatis et. Ad mel veri soleat intellegat. Quo <strong>scaevola referrentur</strong> et, ei dicunt audire deserunt has. Soluta sanctus constituto has ad.</p>
          <p>Per cu esse assentior delicatissimi, qui adipiscing dissentiunt mediocritatem in, dicat voluptaria no eam propriae forensibus qui. </p>
          <p><a href="detail-page.html" class="btn_1">Read more</a>
          </p>
        </div>
      </div>
      <!-- End strip list -->

      <div class="row strip_list wow fadeIn animated" data-wow-delay="0.2s">
        <div class="col-md-5">
          <div class="img_wrapper">
            <div class="ribbon">
              <span>Popular</span>
            </div>
            <div class="price_grid">
              <sup>$</sup>23
            </div>
            <div class="img_container">
              <a href="detail-page.html">
                <img src="img/tour_list_4.jpg" width="800" height="533" class="img-responsive" alt="">
                <div class="short_info">
                  <em>Duration 45 mins</em>
                  <div class="score_wp">Superb
                    <div class="score">7.5</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- End img_wrapper -->
        </div>
        <div class="col-md-7">
          <h3>Raft Grand Canyon<span>Quo scaevola referrentur civibus</span></h3>
          <p>Lorem ipsum dolor sit amet, et cum civibus referrentur, at propriae <strong>forensibus qui</strong>. Duo aliquip necessitatibus ne. Eam sapientem assentior honestatis et. Ad mel veri soleat intellegat. Quo <strong>scaevola referrentur</strong> et, ei dicunt audire deserunt has. Soluta sanctus constituto has ad.</p>
          <p>Per cu esse assentior delicatissimi, qui adipiscing dissentiunt mediocritatem in, dicat voluptaria no eam propriae forensibus qui. </p>
          <p><a href="detail-page.html" class="btn_1">Read more</a>
          </p>
        </div>
      </div>
      <!-- End strip list -->

      <div class="row strip_list wow fadeIn animated" data-wow-delay="0.2s">
        <div class="col-md-5">
          <div class="img_wrapper">
            <div class="ribbon">
              <span>Popular</span>
            </div>
            <div class="price_grid">
              <sup>$</sup>23
            </div>
            <div class="img_container">
              <a href="detail-page.html">
                <img src="img/tour_list_5.jpg" width="800" height="533" class="img-responsive" alt="">
                <div class="short_info">
                  <em>Duration 45 mins</em>
                  <div class="score_wp">Superb
                    <div class="score">7.5</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- End img_wrapper -->
        </div>
        <div class="col-md-7">
          <h3>Western River<span>Quo scaevola referrentur civibus</span></h3>
          <p>Lorem ipsum dolor sit amet, et cum civibus referrentur, at propriae <strong>forensibus qui</strong>. Duo aliquip necessitatibus ne. Eam sapientem assentior honestatis et. Ad mel veri soleat intellegat. Quo <strong>scaevola referrentur</strong> et, ei dicunt audire deserunt has. Soluta sanctus constituto has ad.</p>
          <p>Per cu esse assentior delicatissimi, qui adipiscing dissentiunt mediocritatem in, dicat voluptaria no eam propriae forensibus qui. </p>
          <p><a href="detail-page.html" class="btn_1">Read more</a>
          </p>
        </div>
      </div>
      <!-- End strip list -->


      <nav class="pagination-wrapper">
        <ul class="pagination">
          <li><a href="#">1</a>
          </li>
          <li><a href="#">2</a>
          </li>
          <li><a href="#">3</a>
          </li>
          <li><a href="#">4</a>
          </li>
          <li><a href="#">5</a>
          </li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End pagination -->

      <!-- End row -->
    </div>
    <!-- End container -->
  </section>
  <!-- End section -->

  <div class="container margin_60">
    <div class="banner">
      <h3>Sea id tantas doctus aeterno tation mollis appetere in per, usu dicat novum eirmod ei in sit audire equidem persecuti, eu integre alterum principes qui.</h3>
      <a href="#" class="btn_1 white">Explore Now</a>
    </div>
    <!-- end banner -->
  </div>
  <!-- end container -->
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <h3>Need help?</h3>
          <a href="tel://004542344599" id="phone">+45 423 445 99</a>
          <a href="mailto:help@citytours.com" id="email_footer">help@bestours.com</a>
        </div>
        <div class="col-md-2 col-sm-3">
          <h3>About</h3>
          <ul>
            <li><a href="#">About us</a>
            </li>
            <li><a href="#">FAQ</a>
            </li>
            <li><a href="#">Login</a>
            </li>
            <li><a href="#">Register</a>
            </li>
            <li><a href="#">Terms and condition</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6">
          <h3>Twitter feed</h3>
          <div class="latest-tweets" data-number="10" data-username="ansonika" data-mode="fade" data-pager="false" data-nextselector=".tweets-next" data-prevselector=".tweets-prev" data-adaptiveheight="true">
            <!-- data-username="your twitter username" -->
          </div>
          <div class="tweet-control">
            <div class="tweets-prev"></div>
            <div class="tweets-next"></div>
          </div>
          <!-- End .tweet-control -->
        </div>
        <div class="col-md-3 col-sm-12">
          <h3>Newsletter</h3>
          <div id="message-newsletter_2">
          </div>
          <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
            <div class="form-group">
              <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your email" class="form-control">
            </div>
            <input type="submit" value="Subscribe" class="btn_1" id="submit-newsletter_2">
          </form>
        </div>
      </div>
      <!-- End row -->
      <hr>
      <div class="row">
        <div class="col-sm-8">
          <div class="styled-select">
            <select class="form-control" name="lang" id="lang">
              <option value="English" selected>English</option>
              <option value="French">French</option>
              <option value="Spanish">Spanish</option>
              <option value="Russian">Russian</option>
            </select>
          </div>
          <span id="copy">© BestTours 2016 - All rights reserved</span>
        </div>
        <div class="col-sm-4" id="social_footer">
          <ul>
            <li><a href="#"><i class="icon-facebook"></i></a>
            </li>
            <li><a href="#"><i class="icon-twitter"></i></a>
            </li>
            <li><a href="#"><i class="icon-google"></i></a>
            </li>
            <li><a href="#"><i class="icon-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End row -->
    </div>
    <!-- End container -->
  </footer>
  <!-- End footer -->

  <div id="toTop"></div>
  <!-- Back to top button -->

  <!-- Search Menu -->
  <div class="search-overlay-menu">
    <span class="search-overlay-close"><i class="icon_close"></i></span>
    <form role="search" id="searchform" method="get">
      <input value="" name="q" type="search" placeholder="Search..." />
      <button type="submit"><i class="icon-search-6"></i>
      </button>
    </form>
  </div>
  <!-- End Search Menu -->

  <!-- COMMON SCRIPTS -->
  <script src="js/jquery-2.2.4.min.js"></script>
  <script src="js/common_scripts_min.js"></script>
  <script src="assets/validate.js"></script>
  <script src="js/jquery.tweet.min.js"></script>
  <script src="js/functions.js"></script>
  
  <!-- SPECIFIC SCRIPTS -->
  <script src="js/jquery.selectbox-0.2.js"></script>
  <script>
    $(".selectbox").selectbox();
  </script>

</body>

</html>