<section class="header-video">
    <div id="hero_video">
      <div id="animate_intro">
        <h3>Enjoy a Perfect Tour</h3>
        <p>
          Find the best Tours and Excursion at the best price
        </p>
      </div>
    </div>
    <img src="/img/video_fix.png" alt="" class="header-video--media" data-video-src="/video/intro" data-teaser-source="/video/intro" data-provider="" data-video-width="1920" data-video-height="750">
  </section>


  <!-- SPECIFIC SCRIPTS -->
  <script src="/js/video_header.js"></script>
  <script>
    'use strict';
    HeaderVideo.init({
      container: $('.header-video'),
      header: $('.header-video--media'),
      videoTrigger: $("#video-trigger"),
      autoPlayVideo: true
    });
  </script>

  <div ng-app="app">
  {{ 1 + 1 }}
  <div ng-controller="stuffCtrl">
     <p>{{ myMessage }}</p>
     <p>Name: {{ myName }}</p>
     <p>Sum: {{ sum }}</p>
     <input ng-model="sum">
     <h3>Reviews</h3>
     <ul>
       <li ng-repeat="review in reviews">{{ review }}</li>
     </ul>
   </div>
 </div>
View

</div>
